* {
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
  background-color: #2f4f4f;
  color: #f5f5dc;
}

/* Hero Section */
#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h1 {
  color: #daa520;
}

#hero p {
  padding: 1rem;
  max-width: 600px;
}

#hero button {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #daa520;
  color: #2f4f4f; 
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

#hero button:hover {
  background-color: #b8860b;
}

/* Features Section */
#feature {
  height: 100vh;
}

#feature h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: #daa520; 
}

#feature div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.feature-item {
  padding: 1rem;
  color: #2f4f4f; 
  height: 250px;
  text-align: center;
  background-color: #f5f5dc; 
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-item h3 {
  margin: 0.8rem 0;
  text-align: center;
  color: #b8860b;
}

.feature-item p {
  text-align: center;
}

/* Footer */
#footer {
  background-color: #222;
  color: #f5f5dc; 
  padding: 1rem;
  text-align: center;
}

address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

address a {
  color: #daa520;
  text-decoration: none;
}

address a:hover {
  text-decoration: underline;
}

address svg {
  width: 25px;
  height: 25px;
}

.copyright {
  margin-top: 1rem;
  font-size: 14px;
}

/* Responsive Design */
@media screen and (max-width: 950px) {
  #feature {
    height: fit-content;
    margin-bottom: 2rem;
  }

  #feature div {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: fit-content;
  }
}

@media screen and (max-width: 650px) {
  #feature div {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  .feature-item {
    height: 200px;
  }

  #hero {
    height: 50vh;
  }
}
